.frameChild {
  height: 80px;
  width: 624px;
  position: relative;
  background-color: var(--color-gray-500);
  display: none;
  max-width: 100%;
}
.addPartyDetails,
.x {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  white-space: nowrap;
  z-index: 1;
}
.x {
  height: 30px;
  font-weight: 400;
  display: inline-block;
  min-width: 19px;
  cursor: pointer;
}
.xWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-7) 0 0;
  font-size: var(--font-size-16xl);
  color: var(--color-dimgray-400);
}
.frameParent,
.frameWrapper,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rectangleParent {
  align-self: stretch;
  background-color: var(--color-gray-500);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-4xl) var(--padding-30xl) var(--padding-2xl-8)
    var(--padding-18xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-nunito);
}
.frameParent,
.frameWrapper {
  justify-content: flex-start;
}
.frameWrapper {
  flex-direction: row;
  padding: 0 var(--padding-46xl) var(--padding-5xs);
  box-sizing: border-box;
}
.frameParent {
  width: 624px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-60xl);
  letter-spacing: normal;
  max-height: 100%;
}
@media screen and (max-width: 450px) {
  .frameWrapper,
  .rectangleParent {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frameWrapper {
    padding-left: var(--padding-xl);
  }
  .frameParent {
    gap: 39px 79px;
  }
}
