.paperLight {
  display: none;
}
.deskLightIcon,
.paperLight {
  height: 24px;
  width: 24px;
  position: relative;
}
.parties {
  position: relative;
  display: inline-block;
  min-width: 57px;
  cursor: pointer;
}
.deskLightParent,
.useraltfillInstance {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.deskLightParent {
  align-self: stretch;
  gap: var(--gap-6xs);
}
.useraltfillInstance {
  height: 25px;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
}
.mapPinIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.trips {
  position: relative;
  display: inline-block;
  min-width: 40px;
  cursor: pointer;
}
.desklightInstanceInner,
.mapPinParent,
.tripsWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tripsWrapper {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.desklightInstanceInner,
.mapPinParent {
  flex-direction: row;
}
.mapPinParent {
  align-self: stretch;
  gap: var(--gap-6xs);
}
.desklightInstanceInner {
  height: 28px;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
}
.userCicrleLightIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.suppliers {
  position: relative;
  display: inline-block;
  min-width: 77px;
  cursor: pointer;
}
.desklightInstanceChild,
.nASecret,
.userCicrleLightParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nASecret {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.desklightInstanceChild,
.userCicrleLightParent {
  flex-direction: row;
}
.userCicrleLightParent {
  align-self: stretch;
  gap: var(--gap-6xs);
}
.desklightInstanceChild {
  height: 27px;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
}
.steeringWheelIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.drivers {
  position: relative;
  display: inline-block;
  min-width: 58px;
  cursor: pointer;
}
.cityPincodeNames,
.cityPincodeNamesWrapper,
.driversWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.driversWrapper {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.cityPincodeNames,
.cityPincodeNamesWrapper {
  flex-direction: row;
}
.cityPincodeNames {
  align-self: stretch;
  gap: var(--gap-6xs);
}
.cityPincodeNamesWrapper {
  height: 28px;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
}
.truckIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.trucks {
  position: relative;
  display: inline-block;
  min-width: 52px;
  cursor: pointer;
}
.frameWrapper,
.truckParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.truckParent {
  align-self: stretch;
  gap: var(--gap-6xs);
}
.frameWrapper {
  height: 25px;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
}
.icons8Money301 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
}
.expenses {
  position: relative;
  display: inline-block;
  min-width: 78px;
  cursor: pointer;
}
.expensesWrapper,
.frameContainer,
.icons8Money301Parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.expensesWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.frameContainer,
.icons8Money301Parent {
  flex-direction: row;
}
.icons8Money301Parent {
  align-self: stretch;
  gap: var(--gap-6xs);
}
.frameContainer {
  height: 27px;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  object-fit: contain;
}
.frameItem {
  top: 4px;
  width: 4px;
}
.frameInner,
.frameItem,
.vectorIcon {
  position: absolute;
  left: 4px;
  border-radius: var(--br-11xs);
  height: 1px;
  z-index: 1;
}
.frameInner {
  top: 8px;
  width: 1px;
  object-fit: contain;
}
.vectorIcon {
  top: 12px;
  width: 3px;
}
.vectorParent {
  width: 18px;
  height: 18px;
  position: relative;
}
.frameWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.invoices {
  position: relative;
  display: inline-block;
  min-width: 65px;
  cursor: pointer;
}
.frameDiv,
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  gap: var(--gap-3xs);
}
.frameDiv {
  padding: 0 var(--padding-xs);
}
.orderLightIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.reports {
  position: relative;
  display: inline-block;
  min-width: 64px;
  cursor: pointer;
}
.orderLightParent,
.userBoxLight,
.userCircleLightInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.userBoxLight {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.orderLightParent,
.userCircleLightInner {
  flex-direction: row;
}
.orderLightParent {
  align-self: stretch;
  gap: var(--gap-6xs);
}
.userCircleLightInner {
  height: 27px;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
}
.rectangleDiv {
  height: 49px;
  width: 256px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkolivegreen-100);
  box-shadow: 0 2px 22.7px 3px rgba(255, 255, 255, 0.05);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  display: none;
}
.userBoxLightIcon {
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 1;
}
.profile {
  position: relative;
  display: inline-block;
  min-width: 53px;
  z-index: 1;
}
.desklightInstance,
.frameParent,
.rectangleParent,
.userCircleLight {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent {
  height: 49px;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkolivegreen-100);
  box-shadow: 0 2px 22.7px 3px rgba(255, 255, 255, 0.05);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-4xs);
  gap: var(--gap-6xs);
}
.desklightInstance,
.frameParent,
.userCircleLight {
  flex-direction: column;
  gap: var(--gap-mid);
}
.desklightInstance,
.frameParent {
  gap: var(--gap-8xl-3);
}
.desklightInstance {
  gap: var(--gap-7xl-3);
}
.untitledDesign1 {
  width: 21px;
  height: 27px;
  position: relative;
  object-fit: cover;
}
.untitledDesign1Wrapper {
  height: 29px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.martexTransport {
  position: relative;
  z-index: 1;
}
.frameParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.untitledDesign2 {
  width: 16px;
  height: 17px;
  position: relative;
  object-fit: cover;
}
.untitledDesign2Wrapper {
  height: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.safeSecure {
  position: relative;
}
.frameParent3,
.frameWrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameParent3 {
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.frameWrapper3 {
  justify-content: flex-end;
  padding: 0 var(--padding-12xl) 0 var(--padding-17xl);
  font-size: var(--font-size-mini);
}
.frameParent1,
.frameWrapper2,
.paperLightParent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.frameWrapper2,
.paperLightParent {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-7xs);
  font-size: var(--font-size-6xl);
}
.paperLightParent {
  flex: 1;
  background-color: var(--color-gray-600);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-44xl) var(--padding-2xs) var(--padding-22xl);
  box-sizing: border-box;
  gap: var(--gap-302xl);
  min-width: 181px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-nunito);
}
@media screen and (max-width: 1150px) {
  .paperLightParent {
    padding-top: var(--padding-22xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .paperLightParent {
    padding-top: var(--padding-8xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .martexTransport {
    font-size: var(--font-size-xl);
  }
  .paperLightParent {
    gap: 160px 321px;
  }
}
