.frameChild {
  height: 76px;
  width: 229px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  display: none;
}
.allTrucks,
.infoIcon {
  position: relative;
  z-index: 1;
}
.allTrucks {
  display: inline-block;
  min-width: 90px;
}
.infoIcon {
  width: 24px;
  height: 24px;
}
.truckTypeOwnership {
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.statusLocation {
  position: relative;
  display: inline-block;
  min-width: 24px;
  white-space: nowrap;
  z-index: 1;
}
.truckTypeOwnershipParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameItem,
.rectangleParent {
  width: 229px;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
}
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-mid) var(--padding-5xl)
    var(--padding-xl);
  gap: var(--gap-5xs);
}
.frameItem {
  height: 76px;
  position: relative;
  display: none;
}
.infoIcon1,
.myTrucks {
  position: relative;
  z-index: 1;
}
.myTrucks {
  display: inline-block;
  min-width: 91px;
}
.infoIcon1 {
  width: 24px;
  height: 24px;
}
.infoInstance {
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-16xl) 0 0;
  box-sizing: border-box;
}
.div {
  position: relative;
  display: inline-block;
  min-width: 24px;
  white-space: nowrap;
  z-index: 1;
}
.rectangleGroup,
.truckList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleGroup {
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  border: 2px solid var(--color-gray-300);
  flex-direction: row;
  padding: var(--padding-6xl) var(--padding-mid) var(--padding-5xl)
    var(--padding-xl);
  gap: var(--gap-6xs);
}
.truckList {
  flex-direction: column;
  padding: 0 var(--padding-2xs) 0 0;
}
.myTrucksChild {
  height: 76px;
  width: 287px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  display: none;
}
.infoIcon2,
.marketTrucks1 {
  position: relative;
  z-index: 1;
}
.marketTrucks1 {
  display: inline-block;
  min-width: 122px;
}
.infoIcon2 {
  width: 24px;
  height: 24px;
}
.infoWrapper,
.marketTrucks {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.infoWrapper {
  height: 26px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.marketTrucks {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.div1 {
  position: relative;
  color: #6d0306;
  display: inline-block;
  text-shadow: 0 0 3.6px #6d0306;
  min-width: 24px;
  white-space: nowrap;
  z-index: 1;
}
.myTrucks1 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-6xl) var(--padding-5xl) var(--padding-5xl)
    var(--padding-3xl);
  min-width: 174px;
  gap: var(--gap-xl);
}
.frameContainer,
.frameInner {
  box-sizing: border-box;
  max-width: 100%;
}
.frameContainer {
  width: 818px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-12xl);
}
.frameInner {
  height: 53px;
  width: 868px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  border: 2px solid var(--color-gray-300);
  display: none;
}
.searchLightIcon {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 1;
}
.searchLightWrapper {
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.searchTrucks {
  position: relative;
  display: inline-block;
  min-width: 124px;
  z-index: 1;
}
.rectangleContainer {
  width: 868px;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-3xl);
  gap: var(--gap-mini);
  max-width: 100%;
  color: var(--color-gray-200);
}
.frameChild1,
.rectangleDiv,
.searchBarChild {
  position: relative;
  box-sizing: border-box;
  display: none;
}
.searchBarChild {
  height: 608px;
  width: 1048px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-700);
  border: 2px solid var(--color-gray-300);
  max-width: 100%;
}
.frameChild1,
.rectangleDiv {
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
}
.rectangleDiv {
  align-self: stretch;
  height: 132px;
  background-color: var(--color-black);
  border: 2px solid var(--color-gray-300);
}
.frameChild1 {
  height: 66px;
  width: 1046px;
  background-color: var(--color-gray-500);
  border-top: 2px solid var(--color-gray-400);
  border-left: 2px solid var(--color-gray-400);
  flex-shrink: 0;
}
.truckNo,
.truckType {
  position: relative;
  display: inline-block;
  min-width: 72px;
  z-index: 3;
}
.truckType {
  min-width: 87px;
}
.truckTypeWrapper {
  width: 138px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ownership {
  position: relative;
  display: inline-block;
  min-width: 89px;
  z-index: 3;
}
.ownershipWrapper {
  width: 161px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.status {
  position: relative;
  display: inline-block;
  min-width: 52px;
  z-index: 3;
}
.statusWrapper {
  width: 108px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.location {
  position: relative;
  display: inline-block;
  min-width: 69px;
  z-index: 3;
}
.rectangleParent1 {
  align-self: stretch;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  background-color: var(--color-gray-500);
  border-top: 2px solid var(--color-gray-400);
  border-left: 2px solid var(--color-gray-400);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-4xl) 92px var(--padding-lg) var(--padding-23xl);
  gap: var(--gap-xl);
  z-index: 2;
}
.sorryNoTrucks {
  position: relative;
  z-index: 2;
}
.frameDiv,
.noTrucksFound,
.searchBar {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.noTrucksFound {
  width: 1024px;
  flex-direction: row;
  justify-content: center;
  color: var(--color-darkgray);
}
.frameDiv,
.searchBar {
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  justify-content: flex-start;
}
.frameDiv {
  flex: 1;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  background-color: var(--color-black);
  flex-direction: column;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-mid);
  z-index: 1;
}
.searchBar {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-700);
  flex-direction: row;
  padding: 0 0 var(--padding-457xl);
  font-size: var(--font-size-lg);
}
.fRAME,
.frameGroup {
  flex-direction: column;
  box-sizing: border-box;
}
.frameGroup {
  align-self: stretch;
  border-radius: var(--br-6xs);
  background-color: var(--color-gray-600);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-4xl) var(--padding-69xl);
  gap: var(--gap-mid);
  max-width: 100%;
}
.fRAME {
  flex: 1;
  padding: var(--padding-7xl) 0 0;
  max-width: calc(100% - 305px);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-nunito);
}
.fRAME,
.frameParent,
.trucks {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  width: 1427px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-7xl);
  max-width: 100%;
}
.trucks {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-700);
  overflow: hidden;
  flex-direction: column;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .rectangleParent1 {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-27xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .frameGroup {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-38xl);
    box-sizing: border-box;
  }
  .fRAME {
    max-width: 100%;
  }
  .frameParent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .rectangleParent1 {
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .searchBar {
    padding-bottom: var(--padding-290xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .allTrucks,
  .div,
  .div1,
  .marketTrucks1,
  .myTrucks,
  .statusLocation {
    font-size: var(--font-size-base);
  }
  .frameContainer {
    gap: var(--gap-mini);
  }
  .searchTrucks {
    font-size: var(--font-size-base);
  }
  .frameGroup {
    padding-bottom: var(--padding-18xl);
    box-sizing: border-box;
  }
}
